<section class="contenido-section">
    <div class="container">
      <h2 class="contenido-title">Conoceme</h2>
      <p class="contenido-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
        turpis non tincidunt ultricies, felis felis vehicula massa, eget
        ullamcorper libero nunc sed odio. In hac habitasse platea dictumst.
        Integer nec metus eget felis blandit sodales. Nulla euismod, velit ac
        fringilla consectetur, lacus felis facilisis nunc, eu auctor lorem elit
        vel elit. Nam quis semper leo. Nam suscipit turpis nibh, quis feugiat
        tellus lacinia vel. Sed quis nulla fermentum, consequat elit ac,
        sollicitudin justo. Donec feugiat turpis sit amet ipsum gravida, ac
        pharetra nulla vestibulum. 
        Lorem ipsum dolor sit amet csectetur adipisicing elit. Tenetur sit laudantium, natus alias perferendis hic numquam necessitatibus aut iure ut aliquam quibusdam, eveniet vitae velit odio enim labore porro dicta.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat ipsam numquam at incidunt ducimus id. Ratione, adipisci. Culpa similique corporis obcaecati earum iusto voluptatem fuga tenetur quidem fugit. Quo, sequi.

        SUBIDO A GIT EN MI RAMA FEATURE
      </p>
    </div>
  </section>
  <section class="cajas-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="caja">
            <h3 class="caja-title">Caja 1</h3>
            <p class="caja-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
              turpis non tincidunt ultricies, felis felis vehicula massa, eget
              ullamcorper libero nunc sed odio.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="caja">
            <h3 class="caja-title">Caja 2</h3>
            <p class="caja-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
              turpis non tincidunt ultricies, felis felis vehicula massa, eget
              ullamcorper libero nunc sed odio.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="caja">
            <h3 class="caja-title">Caja 3</h3>
            <p class="caja-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
              turpis non tincidunt ultricies, felis felis vehicula massa, eget
              ullamcorper libero nunc sed odio.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contenido-section2">
    <div class="container">
      <h2 class="contenido-title">Matias Devops practitioner</h2>
      <p class="contenido-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
        turpis non tincidunt ultricies, felis felis vehicula massa, eget
        ullamcorper libero nunc sed odio. In hac habitasse platea dictumst.
        Integer nec metus eget felis blandit sodales. Nulla euismod, velit ac
        fringilla consectetur, lacus felis facilisis nunc, eu auctor lorem elit
        vel elit. Nam quis semper leo. Nam suscipit turpis nibh, quis feugiat
        tellus lacinia vel. Sed quis nulla fermentum, consequat elit ac,
        sollicitudin justo. Donec feugiat turpis sit amet ipsum gravida, ac
        pharetra nulla vestibulum.
      </p>
    </div>
  </section>
  
  <section class="section2">
  <div class="sidebar">
    <p>barra lateral</p>
  </div>
  
  <div class="content">
  <p>contenido</p>
  </div>
  </section>
  
  <section class="cloud-box">
  
  <div class="cloud-box">
    <ng-content></ng-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga et veritatis tempora sit quos ad, excepturi soluta in. Obcaecati unde sequi laborum. Dolor veniam architecto autem, deserunt delectus ullam aperiam!,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga et veritatis tempora sit quos ad, excepturi soluta in. Obcaecati unde sequi laborum. Dolor veniam architecto autem, deserunt delectus ullam aperiam!</p>
  </div>
  </section>
  
  
  
  