<section class="contenido-section">
  <div class="container">
    <h2 class="contenido-title">Inicio</h2>
    
    <p class="contenido-text">

      
      Hola mi nombre es Matias Salazar, poseo conocimientos en implementaciòn de pràcticas de desarrollo, metodologias agiles (Scrum). Promoviendo la colaboraciòn y mejora continua en todas las etapas de desarrollo de software enfocado en una cultura DevOps. <br>

      implementaciòn de pràcticas DevSecOPs, escaneo de vulnerabilidades durante el ciclo de vida de desarrollo para identificar posibles riesgos y garantizar que los productos de software sean seguros y confiables.



    </p>

  

      
   
  
  </div>
</section>
<section class="cajas-section">
 
    <div class="row">
      <div class="col-md-4">
        <div class="caja">
          <h3 class="caja-title"><strong>Sistemas operativos</strong></h3>
          <p class="caja-text">
            Manejo de sistema operativo Linux, configuraciòn y administraciòn de servidores ya sea web, bases de datos y aplicaciones.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="caja">
          <h3 class="caja-title"><strong>Control de versiones</strong></h3>
          <p class="caja-text">
            he utilizado ampliamente herramientas de control de versiones como Git y plataformas de alojamiento en la nube como GitHub y Bitbucket para gestionar proyectos de desarrollo de manera eficiente y colaborativa.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="caja">
          <h3 class="caja-title bold-text">CI/CD</h3>
          <p class="caja-text">
           diseñado y configurado flujos de trabajo de CI/CD personalizados en Jenkins para proyectos de desarrollo de software. 
           Asì tambièn utilizo GitHub Actions para automatizar flujos de trabajo.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="caja">
          <h3 class="caja-title bold-text">Herramientas DevSecOps</h3>
          <p class="caja-text">
           Manejo de herramientas Devsecops para escaneo de vulnerabilidades como SonarQube, Trivy y OWASP ZAP.
        </div>
      </div>
      <div class="col-md-4">
        <div class="caja">
          <h3 class="caja-title bold-text">Java & Spring</h3>
          <p class="caja-text">
           Manejo de Java con su framework Spring.
        </div>
      </div>
      <div class="col-md-4">
        <div class="caja">
          <h3 class="caja-title bold-text">Angular</h3>
          <p class="caja-text">
           Manejo del framework Angular.
        </div>
      </div>
    </div>
  
</section>
<section class="contenido-section2">
  <div class="container">
    <h2 class="contenido-title bold-text">Certificaciones</h2>
    <p class="contenido-text">

     <strong>DevSecOps - USACH - 2023 <br>
     <br>

     NDG Linux Unhatched - Cisco Networking Academy - 2023 <br>
     <br>

     Introduction to cybersecurity - CISCO - 2022 <br>
     <br>

     Scrum Fundamentals Certified SFC - ScrumStudy - 2021 <br>
     <br>

     Introducciòn Ingenieria de Software - Universidad Autonoma Madrid - 2021 <br>
     <br>

     Introduction to cybersecurity - CISCO - 2022</strong>

    </p>
  </div>
</section>

<section class="section2">
<div class="sidebar">
  <p>barra lateral</p>
</div>

<div class="content">
<p>contenido</p>
</div>
</section>

<section class="cloud-box">

<div class="cloud-box">
  <ng-content></ng-content>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga et veritatis tempora sit quos ad, excepturi soluta in. Obcaecati unde sequi laborum. Dolor veniam architecto autem, deserunt delectus ullam aperiam!,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga et veritatis tempora sit quos ad, excepturi soluta in. Obcaecati unde sequi laborum. Dolor veniam architecto autem, deserunt delectus ullam aperiam!</p>
</div>
</section>



